{:paths ["src"]
 :deps {com.amazonaws/aws-lambda-java-core {:mvn/version "1.2.1"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        io.github.crac/org-crac {:mvn/version "0.1.3"}}
 :aliases
 {:build {:extra-deps {io.github.clojure/tools.build {:git/tag "v0.9.3"
                                                      :git/sha "e537cd1"}
                       babashka/fs {:mvn/version "0.3.17"}}
          :ns-default build}}}
